<div>
	<div *ngIf="result!=null">
		<label>Search Book Id: <input #book_id (keyup)="search_book('book_id',book_id.value)"></label>
		<label>Search Title: <input  #title (keyup)="search_book('title', title.value)"></label>
		<label>Search Author : <input disabled=""></label>
		<label>Search Tags: <input disabled=""></label>
	</div>
	{{searchable | json}}
</div>
<div>
	<table>
		<thead>
			<tr>
				<th>Book ID</th>
				<th>Title</th>
				<th>Author</th>
				<th>Tags</th>
				<th>Copies</th>
			</tr>
		</thead>
		<tbody *ngIf="result!=null">
			<tr *ngFor="let book of list">
				<td>{{book.book_id}}</td>
				<td><a [routerLink]="[book.id]">{{book.title}}</a></td>
				<td>{{book.author}}</td>
				<td style="max-width: 20em">
					<small *ngFor="let tag of book.booktag_set" style="padding: 5px">{{tag.tag}}</small>,
				</td>
				<td>{{book.copies}}</td>
			</tr>
		</tbody>
	</table>

	<div class="app-loading" *ngIf="loading">
	    <div class="logo"></div>
	    <svg class="spinner" viewBox="25 25 50 50">
	      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
	    </svg>
	</div>

	<div *ngIf="result!=null">
		<button *ngIf="result.next!=null" (click)="getNextBooks()">Load More</button>
		<button *ngIf="result.next!=null" (click)="loadAllBooks()">Load All</button>
	</div>
</div>
<div>
	<router-outlet></router-outlet>
</div>
