<div class="row align-items-start">
	<div class="col">
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1">ID</span>
			</div>
			<input type="text" class="form-control" placeholder="Book Id" aria-label="Book id" aria-describedby="basic-addon1" #book_id (keyup)="search_book('book_id',book_id.value)">
		</div>
	</div>

	<div class="col">
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1">Title</span>
			</div>
			<input type="text" class="form-control" placeholder="Book Title" aria-label="Book Title" aria-describedby="basic-addon1" #title (keyup)="search_book('title', title.value)">
		</div>
	</div>

	<div class="col">
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1">Author</span>
			</div>
			<input type="text" class="form-control" placeholder="Book Author" aria-label="Book Author" aria-describedby="basic-addon1" #author (keyup)="search_book('author', author.value)">
		</div>
	</div>

	<div class="col">
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1">Category</span>
			</div>
			<input type="text" class="form-control" placeholder="Book Category" aria-label="Book Category" aria-describedby="basic-addon1" #category (keyup)="search_book('category', category.value)">
		</div>
	</div>

	<div class="col">
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1">Tag</span>
			</div>
			<input type="text" class="form-control" placeholder="Book Tag" aria-label="Book Tag" aria-describedby="basic-addon1" #tags (keyup)="search_book('booktag__tag', tags.value)">
		</div>
	</div>
	
</div>
<div class="row">
	<div class="col">
		<div class="table-responsive">
			<table class="table table-stripped table-bordered table-hover table-sm">
				<thead class="thead-light">
					<tr>
						<th scope="col">Book ID</th>
						<th scope="col">Title</th>
						<th scope="col">Author</th>
						<th scope="col">Copies</th>
					</tr>
				</thead>
				<tbody *ngIf="result!=null">
					<tr *ngFor="let book of list">
						<td>{{book.book_id}}</td>
						<td><span class="text-primary" (click)="select(book)">{{book.title}}</span></td>
						<td>{{book.author}}</td>
						<td>{{book.copies}}</td>
					</tr>
				</tbody>
			</table>
			<div *ngIf="result!=null">
				<button *ngIf="result.next!=null" (click)="getNextBooks()">Load More</button>
				<button *ngIf="result.next!=null" (click)="loadAllBooks()">Load All</button>
			</div>
		</div>
		<div class="app-loading" *ngIf="loading; else data">
			<div class="logo"></div>
			<svg class="spinner" viewBox="25 25 50 50">
				<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
			</svg>
		</div>
	</div>
	<div class="col" *ngIf="result!=null">
		<div style="position: sticky; top: 0;">
			<app-book-detail [book]="selectedBook"></app-book-detail>
		</div>
	</div>
	<div class="col" *ngIf="result!=null">
		<div style="position: sticky; top: 0;">
			<div class="card">
				<div class="card-body">
					<app-book-create-form [book]="selectedBook" (outBook)="changedBook($event)"></app-book-create-form>
				</div>
			</div>
		</div>
	</div>
</div>