<div class="alert" *ngIf="message">{{message}}</div>
<div class="row">
	<div class="col">
		<div class="card-columns">
			<div class="card border-success mb-3">
				<div class="card-body">
					<h5 class="card-title"></h5>
					<p class="card-text">
						<input type="text" name="" class="form-control border-0" placeholder="New Note" #box>
					</p>
					<button class="btn btn-primary" (click)="onEnter(box.value); box.value=''">Add</button>
				</div>
			</div>
			<div class="ls-{{note.id}}" [ngClass]="cardStyle(note.id)" *ngFor="let note of list">
				<!-- <img class="card-img-top" [src]="_image_src(book.preview)" alt="Card image cap"> -->
				<div class="card-body">
					<h5 class="card-title">
						<!-- x -->
					</h5>
					<p class="card-text">
						<textarea type="text" name="" class="form-control border-0" value="{{note.note}}" hidden #editBox></textarea>
						<span (click)="editBox.hidden = false; mNote.hidden=true;" #mNote>{{note.note}}</span>
					</p>
					<div class="btn-group" role="group">
						<button class="btn btn-primary" (click)="updateNote(note.id, editBox.value); editBox.hidden=true; mNote.hidden=false;">Update</button>
						<button class="btn btn-primary" (click)="delete(note.id)">Remove</button>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- col fin -->
</div> 
<div class="app-loading" *ngIf="loading">
	<div class="logo"></div>
	<svg class="spinner" viewBox="25 25 50 50">
		<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
	</svg>
</div>