<div class="alert" *ngIf="message">{{message}}</div>
<div class="row">
	<div class="col">
		<div class="card-columns">
			<div class="card border-success mb-3">
				<div class="card-body">
					<h5 class="card-title"></h5>
					<p class="card-text">
						<input type="text" name="" class="form-control border-0" placeholder="New Note" #box>
					</p>
					<button class="btn btn-primary" (click)="onEnter(box.value); box.value=''">Add</button>
				</div>
			</div>
			<div class="ls-{{note.id}}" [ngClass]="cardStyle(note.id)" *ngFor="let note of list">
				<!-- <img class="card-img-top" [src]="_image_src(book.preview)" alt="Card image cap"> -->
				<div class="card-body">
					<h5 class="card-title">
						<!-- x -->
					</h5>
					<p class="card-text">
						<textarea type="text" name="" class="form-control border-0" value="{{note.note}}" hidden #editBox></textarea>
						<span (click)="editBox.hidden = false; mNote.hidden=true;" #mNote>{{note.note}}</span>
					</p>
					<div class="btn-group" role="group">
						<button class="btn btn-primary" (click)="updateNote(note.id, editBox.value); editBox.hidden=true; mNote.hidden=false;">Update</button>
						<button class="btn btn-primary" (click)="delete(note.id)">Remove</button>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- col fin -->
</div> <!-- row fin -->
		<!-- <div style="position: -webkit-sticky; position: sticky; bottom: 0; padding: 50px; font-size: 20px;">
					<svg width="80" height="80" (click)="addNote()">
								<circle cx="40" cy="40" r="40" stroke="blue" stroke-width="2" fill="transparent" />
								<polygon points="30,10,50,10,50,30, 70,30,70,50,50, 50, 50,70, 30,70, 30,50, 10,50, 10,30, 30,30"
								style="fill:blue;stroke:transparent;stroke-width:0;fill-rule:evenodd;" />
							</svg>
			</div> -->