<div>
	<table>
		<thead>
			<tr>
				<th>User Name</th>
				<th>User Id</th>
				<th>Book</th>
				<th>Book Lent On</th>
				<th>Due Return</th>
			</tr>
		</thead>
		<tbody *ngIf="result!=null">
			<tr *ngFor="let lent of list">
				<td>{{lent.lib_user.name}}</td>
				<td>{{lent.lib_user.uid}}</td>
				<td>{{lent.book.title}}</td>
				<td>{{lent.lent_on}}</td>
				<td>{{lent.due_on}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="app-loading" *ngIf="loading">
    <div class="logo"></div>
    <svg class="spinner" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<p *ngIf="result!=null">
  <button *ngIf="result.next!=null" (click)="getNextList()">Load More</button>
  <button *ngIf="result.next!=null" (click)="loadAllList()">Load All</button>
</p>
